# Data exploratory

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_client = pd.read_csv('../data/cliente_tabla.csv')
df_client.head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [3]:
df_prod = pd.read_csv('../data/producto_tabla.csv')
df_prod.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [16]:
df_prod[df_prod.NombreProducto.str.contains('Burritos Sincro')]

      Producto_ID                      NombreProducto
3              53      Burritos Sincro 170g CU LON 53
1808        37086  Burritos Sincro 170g MTA LON 37086

In [6]:
df_town = pd.read_csv('../data/town_state.csv')
df_town.head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

## Training set

In [3]:
df_train = pd.read_csv('../data/train.csv')
print(df_train.info())
df_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74180464 entries, 0 to 74180463
Data columns (total 11 columns):
Semana               int64
Agencia_ID           int64
Canal_ID             int64
Ruta_SAK             int64
Cliente_ID           int64
Producto_ID          int64
Venta_uni_hoy        int64
Venta_hoy            float64
Dev_uni_proxima      int64
Dev_proxima          float64
Demanda_uni_equil    int64
dtypes: float64(2), int64(9)
memory usage: 6.1 GB
None

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

In [7]:
product_count = len(df_train['Producto_ID'].unique())
print('There are %d products.' % product_count)

There are 1799 products.

In [6]:
client_count = len(df_train['Cliente_ID'].unique())
print('There are %d clients.' % client_count)

There are 880604 clients.

In [15]:
PRODUCT_ID = 2233
median = df_train[df_train.Producto_ID == PRODUCT_ID]['Demanda_uni_equil'].median()
print('Product median= %d' % median)
df_train[(df_train.Cliente_ID == 50379) & (df_train.Producto_ID == PRODUCT_ID)]

Product median= 3

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
30,3,1110,7,3301,50379,2233,38,757.72,0,0.0,38
11165245,4,1110,7,3301,50379,2233,32,638.08,0,0.0,32
22174832,5,1110,7,3301,50379,2233,40,797.60,0,0.0,40
32790223,6,1110,7,3301,50379,2233,44,877.36,0,0.0,44
42982064,7,1110,7,3301,50379,2233,33,658.02,0,0.0,33
53364914,8,1110,7,3301,50379,2233,45,897.30,0,0.0,45
63771782,9,1110,7,3301,50379,2233,40,797.60,0,0.0,40

In [17]:
PRODUCT_ID = 2233
median = df_train[df_train.Producto_ID == PRODUCT_ID]['Demanda_uni_equil'].median()
print('Product median= %d' % median)
df_train[(df_train.Cliente_ID == 24695) & (df_train.Producto_ID == PRODUCT_ID)]

Product median= 3

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
28,3,1110,7,3301,24695,2233,8,159.52,0,0.0,8
11165243,4,1110,7,3301,24695,2233,10,199.40,0,0.0,10
22174830,5,1110,7,3301,24695,2233,6,119.64,0,0.0,6
32790221,6,1110,7,3301,24695,2233,5,99.70,0,0.0,5
42982062,7,1110,7,3301,24695,2233,10,199.40,0,0.0,10
53364912,8,1110,7,3301,24695,2233,6,119.64,0,0.0,6
63771779,9,1110,7,3301,24695,2233,8,159.52,0,0.0,8

In [16]:
df_train[df_train.Producto_ID == PRODUCT_ID]

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
25,3,1110,7,3301,24080,2233,19,378.86,0,0.0,19
28,3,1110,7,3301,24695,2233,8,159.52,0,0.0,8
30,3,1110,7,3301,50379,2233,38,757.72,0,0.0,38
75,3,1110,7,3301,108104,2233,265,5284.10,0,0.0,265
89,3,1110,7,3301,181232,2233,10,199.40,0,0.0,10
113,3,1110,7,3301,319641,2233,23,458.62,0,0.0,23
119,3,1110,7,3301,319974,2233,19,378.86,0,0.0,19
123,3,1110,7,3301,325070,2233,8,159.52,0,0.0,8
126,3,1110,7,3301,818913,2233,17,338.98,0,0.0,17
133,3,1110,7,3301,819816,2233,14,279.16,0,0.0,14
138,3,1110,7,3301,819832,2233,2,39.88,0,0.0,2
144,3,1110,7,3301,853124,2233,2,39.88,0,0.0,2
389,3,1110,7,3301,2337111,2233,5,99.70,0,0.0,5
459,3,1110,7,3301,4328602,2233,8,159.52,0,0.0,8
475,3,1110,7,3301,4328716,2233,2,39.88,0,0.0,2
487,3,1110,7,3301,4532486,2233,27,538.38,0,0.0,27
537,3,1110,7,3301,4711428,2233,2,39.88,0,0.0,2
557,3,1110,7,3302,36329,2233,5,99.70,0,0.0,5
559,3,1110,7,3302,50720,2233,8,159.52,0,0.0,8
562,3,1110,7,3302,50723,2233,5,99.70,0,0.0,5
565,3,1110,7,3302,50724,2233,50,997.00,0,0.0,50
569,3,1110,7,3302,52493,2233,4,79.76,0,0.0,4
593,3,1110,7,3302,319684,2233,9,179.46,0,0.0,9
670,3,1110,7,3302,1172511,2233,5,99.70,0,0.0,5
673,3,1110,7,3302,1280865,2233,15,299.10,0,0.0,15
675,3,1110,7,3302,1285059,2233,5,99.70,0,0.0,5
704,3,1110,7,3302,1389898,2233,14,279.16,0,0.0,14
807,3,1110,7,3303,18489,2233,3,59.82,0,0.0,3
837,3,1110,7,3303,25131,2233,10,199.40,0,0.0,10
844,3,1110,7,3303,50698,2233,12,239.28,0,0.0,12
...,...,...,...,...,...,...,...,...,...,...,...
74117489,9,24049,1,4502,1564573,2233,1,19.94,0,0.0,1
74117502,9,24049,1,4502,1649052,2233,1,19.94,0,0.0,1
74117508,9,24049,1,4502,1713589,2233,1,19.94,0,0.0,1
74117514,9,24049,1,4502,1756172,2233,1,19.94,0,0.0,1
74117519,9,24049,1,4502,1756179,2233,1,19.94,0,0.0,1
74117522,9,24049,1,4502,1756186,2233,1,19.94,0,0.0,1
74117539,9,24049,1,4502,1769608,2233,1,19.94,0,0.0,1
74117552,9,24049,1,4502,2101564,2233,1,19.94,0,0.0,1
74117556,9,24049,1,4502,2125201,2233,2,39.88,0,0.0,2
74117564,9,24049,1,4502,2133048,2233,1,19.94,0,0.0,1
74117577,9,24049,1,4502,2143971,2233,1,19.94,0,0.0,1
74117585,9,24049,1,4502,2245569,2233,1,19.94,0,0.0,1
74117605,9,24049,1,4502,2487641,2233,1,19.94,0,0.0,1
74117609,9,24049,1,4502,2496698,2233,1,19.94,0,0.0,1
74117611,9,24049,1,4502,2496870,2233,1,19.94,0,0.0,1
74117619,9,24049,1,4502,2497297,2233,1,19.94,0,0.0,1
74117635,9,24049,1,4502,4180975,2233,1,19.94,0,0.0,1
74117653,9,24049,1,4502,4199752,2233,1,19.94,0,0.0,1
74117670,9,24049,1,4502,4330456,2233,1,19.94,0,0.0,1
74117683,9,24049,1,4502,4361823,2233,1,19.94,0,0.0,1
74117705,9,24049,1,4502,4428412,2233,2,39.88,0,0.0,2
74117715,9,24049,1,4502,4441104,2233,1,19.94,0,0.0,1
74117722,9,24049,1,4502,4452782,2233,1,19.94,0,0.0,1
74117733,9,24049,1,4502,4539025,2233,1,19.94,0,0.0,1
74117756,9,24049,1,4502,4617553,2233,1,19.94,0,0.0,1
74117761,9,24049,1,4502,4635656,2233,1,19.94,0,0.0,1
74117765,9,24049,1,4502,4638300,2233,1,19.94,0,0.0,1
74117773,9,24049,1,4502,4678599,2233,1,19.94,0,0.0,1
74117781,9,24049,1,4502,4684298,2233,2,39.88,0,0.0,2
74117786,9,24049,1,4502,4721922,2233,2,39.88,0,0.0,2

## Test set

In [11]:
df_test = pd.read_csv('../data/test.csv')
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999251 entries, 0 to 6999250
Data columns (total 7 columns):
id             int64
Semana         int64
Agencia_ID     int64
Canal_ID       int64
Ruta_SAK       int64
Cliente_ID     int64
Producto_ID    int64
dtypes: int64(7)
memory usage: 373.8 MB

In [12]:
print('Semana=%s' % df_test['Semana'].unique())

Semana=[11 10]

## Submission

In [5]:
df_sub = pd.read_csv('../data/sample_submission.csv')
df_sub.head()

   id  Demanda_uni_equil
0   0                  7
1   1                  7
2   2                  7
3   3                  7
4   4                  7

In [13]:
df_train['Demanda_uni_equil'].median()

3.0