# Data exploratory

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_client = pd.read_csv('../data/cliente_tabla.csv')
df_client.head()

   Cliente_ID                            NombreCliente
0           0                               SIN NOMBRE
1           1                         OXXO XINANTECATL
2           2                               SIN NOMBRE
3           3                                EL MORENO
4           4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT

In [4]:
df_prod = pd.read_csv('../data/producto_tabla.csv')
df_prod.head()

   Producto_ID                          NombreProducto
0            0                       NO IDENTIFICADO 0
1            9               Capuccino Moka 750g NES 9
2           41  Bimbollos Ext sAjonjoli 6p 480g BIM 41
3           53          Burritos Sincro 170g CU LON 53
4           72     Div Tira Mini Doradita 4p 45g TR 72

In [6]:
df_town = pd.read_csv('../data/town_state.csv')
df_town.head()

   Agencia_ID                   Town             State
0        1110     2008 AG. LAGO FILT      MÉXICO, D.F.
1        1111  2002 AG. AZCAPOTZALCO      MÉXICO, D.F.
2        1112    2004 AG. CUAUTITLAN  ESTADO DE MÉXICO
3        1113     2008 AG. LAGO FILT      MÉXICO, D.F.
4        1114   2029 AG.IZTAPALAPA 2      MÉXICO, D.F.

## Training set

In [2]:
df_train = pd.read_csv('../data/train.csv')
print(df_train.info())
df_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74180464 entries, 0 to 74180463
Data columns (total 11 columns):
Semana               int64
Agencia_ID           int64
Canal_ID             int64
Ruta_SAK             int64
Cliente_ID           int64
Producto_ID          int64
Venta_uni_hoy        int64
Venta_hoy            float64
Dev_uni_proxima      int64
Dev_proxima          float64
Demanda_uni_equil    int64
dtypes: float64(2), int64(9)
memory usage: 6.1 GB
None

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

In [7]:
product_count = len(df_train['Producto_ID'].unique())
print('There are %d products.' % product_count)

There are 1799 products.

In [6]:
client_count = len(df_train['Cliente_ID'].unique())
print('There are %d clients.' % client_count)

There are 880604 clients.

In [13]:
print('Week=%s' % df_train['Semana'].unique())

Week=[3 4 5 6 7 8 9]

## Test set

In [11]:
df_test = pd.read_csv('../data/test.csv')
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999251 entries, 0 to 6999250
Data columns (total 7 columns):
id             int64
Semana         int64
Agencia_ID     int64
Canal_ID       int64
Ruta_SAK       int64
Cliente_ID     int64
Producto_ID    int64
dtypes: int64(7)
memory usage: 373.8 MB

In [12]:
print('Semana=%s' % df_test['Semana'].unique())

Semana=[11 10]

## Submission

In [5]:
df_sub = pd.read_csv('../data/sample_submission.csv')
df_sub.head()

   id  Demanda_uni_equil
0   0                  7
1   1                  7
2   2                  7
3   3                  7
4   4                  7

In [13]:
df_train['Demanda_uni_equil'].median()

3.0